/* Register */
.register {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0 auto;

}

.register a {
    text-decoration: underline;
    color: white;
}

.register label {
    display: block;
    margin: 30px 0;
}

.register input {
    width: 100%;
    line-height: 2.1;
}